@import "../../theming/colors.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
}
.appBar {
  background-color: $primary !important;
}

.rightElements {
  display: flex;
  align-items: center;
  gap: 25px;
}
