@import "../../theming/colors.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
}
.rightElements {
  display: flex;
  align-items: center;
  gap: 25px;
}
.avatar {
  background-color: #00b358;
}
.avatar:hover {
  cursor: pointer;
}
.headerMain:hover {
  cursor: pointer;
}
